In [ ]:
import sqlite3
import pandas as pd


# Conectar ao banco de dados (ou criar se não existir)
conn = sqlite3.connect('biblioteca.db')



# Definir esquema da tabela Livros
query_livros = '''
CREATE TABLE IF NOT EXISTS Livros (
    id INTEGER PRIMARY KEY,
    titulo TEXT NOT NULL,
    autor TEXT NOT NULL,
    ano_publicacao INTEGER
);
'''
conn.execute(query_livros)

# Definir esquema da tabela Usuarios
query_usuarios = '''
CREATE TABLE IF NOT EXISTS Usuarios (
    id INTEGER PRIMARY KEY,
    nome TEXT NOT NULL,
    email TEXT NOT NULL,
    data_registro DATE
);
'''
conn.execute(query_usuarios)

# Definir esquema da tabela Emprestimos
query_emprestimos = '''
CREATE TABLE IF NOT EXISTS Emprestimos (
    id INTEGER PRIMARY KEY,
    id_livro INTEGER,
    id_usuario INTEGER,
    data_emprestimo DATE,
    data_devolucao DATE,
    FOREIGN KEY (id_livro) REFERENCES Livros (id),
    FOREIGN KEY (id_usuario) REFERENCES Usuarios (id)
);
'''
conn.execute(query_emprestimos)

# Commit para salvar as alterações
conn.commit()

# Inserir dados na tabela Livros
livros_data = [
    (1, 'Dom Casmurro', 'Machado de Assis', 1899),
    (2, '1984', 'George Orwell', 1949)
]
conn.executemany('INSERT INTO Livros (id, titulo, autor, ano_publicacao) VALUES (?, ?, ?, ?)', livros_data)

# Inserir dados na tabela Usuarios
usuarios_data = [
    (1, 'João', 'joao@email.com', '2023-08-04'),
    (2, 'Maria', 'maria@email.com', '2023-08-04')
]
conn.executemany('INSERT INTO Usuarios (id, nome, email, data_registro) VALUES (?, ?, ?, ?)', usuarios_data)

# Commit para salvar as alterações
conn.commit()

In [5]:

query1 = "SELECT * FROM Livros WHERE ano_publicacao < 2000"
df2 = pd.read_sql_query(query1, conn) 
print(df2)

   id        titulo             autor  ano_publicacao
0   1  Dom Casmurro  Machado de Assis            1899
1   2          1984     George Orwell            1949

In [6]:

query2 = "SELECT autor, COUNT(*) as quantidade FROM Livros GROUP BY autor"
df2 = pd.read_sql_query(query2, conn) 
print(df2)

              autor  quantidade
0     George Orwell           1
1  Machado de Assis           1

In [7]:
query3 = "SELECT * FROM Livros ORDER BY ano_publicacao ASC LIMIT 1"
df2 = pd.read_sql_query(query3, conn) 
print(df2)

   id        titulo             autor  ano_publicacao
0   1  Dom Casmurro  Machado de Assis            1899

In [ ]:
# Fechar a conexão com o banco de dados
conn.close()